@model ACMA.Models.Authorize.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Scripts {
    <script src="~/Scripts/Authorize/Login.js"></script>
    <script type="text/javascript">
        Login.init();
    </script>
}

<!-- page wrapper -->
<div class="dev-page dev-page-login dev-page-login-v2">

    <div class="dev-page-login-block">
        <a class="dev-page-login-block__logo">ACMA</a>
        <div class="dev-page-login-block__form">
            <div class="title"><strong>Bem Vindo ao Portal Reponsivo.</strong></div>
            <form class="form-horizontal" action="javascript:void(0)" method="post" id="formLogin">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(p => p.UserName, new { @class = "form-control", title = "UserName", id = "UserName", Name = "UserName", placeholder = "Usuário" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(p => p.Password, new { @class = "form-control", title = "Password", id = "Password", Name = "Password", placeholder = "Senha" })
                    </div>
                </div>
                <div id="LoginErrorMessage">
                    Usuário ou senha inválidos.
                </div>
                <div class="form-group no-border margin-top-20">
                    <button type="submit" data-text="Login" class="btn btn-success btn-block">Login</button>
                </div>
                <p><a href="@Url.Action("RecoveryPassword", "Authorize")">Esqueceu a senha?</a></p>
            </form>
        </div>
        <div class="dev-page-login-block__footer">
            © 2015 <strong>Leandro Andrioli</strong>.
        </div>
    </div>

</div>
<!-- ./page wrapper -->
