@{
    ViewBag.Title = "RecoveryPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- page wrapper -->
<div class="dev-page dev-page-login dev-page-login-v2">

    <div class="dev-page-login-block">
        <a class="dev-page-login-block__logo">ACMA</a>
        <div class="dev-page-login-block__form">
            <div class="title"><strong>Recuperação de senha.</strong></div>
            @using (Html.BeginForm("RecoveryPassword","Authorize"))
            {                            
                <span class="help-block">Para redefinir sua senha, digite o endereço de e-mail que você usou no seu cadastro no sistema.</span>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="email" class="form-control" placeholder="Email" name="email" type="text">
                    </div>
                </div>
                <div class="form-group no-border margin-top-20">
                    <button class="btn btn-success btn-block">Recuperar Senha</button>
                </div>
            }
        </div>
        <div class="dev-page-login-block__footer">
            © 2015 <strong>Leandro Andrioli</strong>.
        </div>
    </div>

</div>
<!-- ./page wrapper -->
