@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<h2>Index o/</h2>
<h1>OLA TESTE</h1>

<p>sadashduahsdu3434341</p>
<p>sadashduahsdu3434341</p>

v
v
<p>sadashduahsdu3434341</p><p>sadashduahsdu3434341</p>
<p>sadashduahsdu3434341</p>
<p>sadashduahsdu3434341</p>
<p>sadashduahsdu3434341</p>
<p>sadashduahsdu3434341</p>
<p>sadashduahsdu3434341</p>
<p>sadashduahsdu3434341</p>
<p>sadashduahsdu3434341</p>

<p>sadashduahsdu3434341</p>


v


v
<p>sadashduahsdu3434341</p>

<p>sadashduahsdu3434341</p>
@Html.ActionLink("Index", "Index", "Home")


